.vote {
    background-color: #F7F7F7; 
    text-align: center;
    border-radius: 5px;
    padding: 10px 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    min-height: 600px;
}

.checkbox {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.segment > p, .checkbox {
    display : block; 
    overflow-wrap: break-word; 
    max-width : 100%;
}

.vote-footer {
    position: absolute;
    bottom: 1%;
    left: 0;
    margin-right: 35%;
    width: 100%;
    padding: 15px 20px;
}

.no-vote-text {
    display: block;
    font-size: 24px;
    padding: 1.5em;
    color: #E3866C;
    text-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.no-vote-text:hover {
    animation: swing;
    animation-duration: 1s;
}

.no-vote-text > i{
    font-size: 36px;
    margin-bottom: 10px;
    animation: swing;
    animation-duration: 2s;
}
