.header {
    font-size: 48px;
    color: #FFFFFF;
    padding: 0.5em 0.5em 0 0.5em;
    text-align: center;
    text-shadow: 0 0 3px rgba(0,0,0,0.2);
}

h1 {
    display: inline;
    font-family: 'Pattaya', sans-serif;
    font-weight: 100;
}
